/* Global Styles */
* {
  user-select: none;
}

html, body {
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-color: rgb(243, 243, 243);
}

#root {
  width: 100%;
  height: 100%;
}

.is-fullwidth {
  width: 100%;
}

.monospaced {
  font-family: 'Fira Mono', monospace;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Layout */
div.layout {
  --margin: 5px;
  margin: var(--margin);

  width: calc(100% - (var(--margin) * 2));
  height: calc(100% - (var(--margin) * 2));

  display: flex;
  flex-direction: column;
}

div.layout-item {
  padding: 10px;
}

/* Input */
input.input.monospaced {
  font-family: 'Fira Code', monospace;
  padding-top: 5px;
  padding-left: 34px !important;
  height: 2.8em;
}

/* Main Content */
div.layout-item.main {
  flex-grow: 1;
  padding-top: 0;

  display: flex;
  flex-direction: column;
  position: relative;
}

div.box#main {
  flex-grow: 1;
  max-height: calc(100vh - 197px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Bottom Bar */
div.layout-item.bottom {
  display: flex;
  align-items: center;
}

div.layout-item.bottom > * {
  margin: 0 2px;
}

span.status {
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: 0.8rem;

  word-wrap: none;

  flex-grow: 1;
}
